{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>BilgiGNU</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Anasayfa</a></li>
          <li><a href="https://github.com/bilgi-cmpe" target="_blank">GitHub</a></li>
          <li><a href="http://www.ozguryazilimgunleri.org.tr/2017/" target="_blank">Özgür Yazılım Günleri 2017</a></li>
        </ul>
      </div>
    </nav>
    {% block 'content'%}

    {% endblock %}
    <footer class="container text-center">
      <a href="{% url 'index' %}">
        <img src="{% static 'images/logo.png' %}" class="img-responsive center-block" style="width:15%; ">
      </a>
     <a href="https://github.com/bilgi-cmpe/bilgignu-web" target="_blank" style="color: black;">BilgiGNU | &beta;</a>
    </footer>

  </body>
</html>
